# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Cache
.turbo
.cache

# Logs
*.log

# Environment files
.env
.env*.local

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# Misc
.DS_Store
coverage
